<ion-content>
  <div class="pokemon-grid">
    <ion-card *ngFor="let pokemon of pokemons" [routerLink]="['/pokemon', extractId(pokemon.url)]">
      <ion-card-content>
        <div class="pokemon-item">
          <img class="pokemon-image" 
               [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + extractId(pokemon.url) + '.png'"
               alt="{{ pokemon.name }}"
               (error)="handleImageError($event)" />
          <div class="pokemon-info">
            <span class="pokemon-number">#{{ extractId(pokemon.url) | number:'3.0' }}</span>
            <h2 class="pokemon-name">{{ pokemon.name | uppercase }}</h2>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prevPage()" [disabled]="currentPage === 1">
        Anterior
      </ion-button>
    </ion-buttons>

    <span style="margin: 0 10px;">
      Página {{ currentPage }} de {{ totalPages }}
    </span>

    <ion-buttons slot="end">
      <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Próxima
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>