.main-container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 16px;
    margin-bottom: 2%;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    gap: 16px;
    width: 100%;
}


ion-card {
    margin: 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;

    &:hover {
        transform: translateY(-5px);
    }
}

.pokemon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}


.pokemon-image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 12px;
}

.pokemon-info {
    width: 100%;
    text-align: center;

    .pokemon-number {
        display: block;
        color: var(--ion-color-medium);
        font-size: 0.9rem;
        margin-bottom: 4px;
    }

    .pokemon-name {
        margin: 0;
        font-size: 1.1rem;
        color: var(--ion-color-dark);
        font-weight: bold;
    }
}

.pokemon-type-badge {
    color: white !important;
    
    &.text-black {
    color: black !important;
    }
}

.pagination-toolbar {
    --background: var(--ion-color-light);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .page-counter {
        font-size: 0.9rem;
        color: var(--ion-color-medium);
    }
}


.pokemon-image[src=""],
.pokemon-image:not([src]) {
    visibility: hidden;
    position: relative;

    &::after {
        content: "?";
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--ion-color-light);
        color: var(--ion-color-medium);
        font-size: 2rem;
        font-weight: bold;
    }
}